/* Index.css stylesheet will determine the appearance of the Header, Nav and Footer sections */
:root {
    --primary-background: #003566;
    --secondary-background: #001D3D;
    --primary-color: #FFD60A;
    --secondary-colour: #FFC300;
    --primary-font: #000000;
    --secondary-font: #FFFFFF;
    --base-radius: 8px;
}

body {
    background-color: var(--primary-background);
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    color: var(--secondary-font);
    background-color: var(--secondary-background);
    height: 120px;
}

.title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.title-text {
    margin-left: 8px;
    margin-bottom: 8px;
}

.title-text h1 {
    font-size: 32px;
    margin-bottom: 16px;
}

.title-text h3 {
    margin: 0;
}

.dropdown-btn {
    height: 48px;
    width: 48px;
    
    display: grid;
    justify-content: center;
    align-items: center;
}

.dropdown-btn input {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    height: 48px;
    width: 48px;
    padding: 8px;
}

.dropdown-btn i {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    scale: 2;
}

nav {
    display: flex;
    height: 120px;
    justify-content: space-around;
    background-color: var(--secondary-background);
    border-bottom-left-radius: var(--base-radius);
    border-bottom-right-radius: var(--base-radius);
}

nav a {
    color: var(--secondary-font);

    height: 70px;
    margin-top: 20px;

    text-decoration: none;
    text-align: center;
}

.link-frame {
    margin-bottom: 4px;
    height: 52px;
    width: 52px;
    border-radius: var(--base-radius);

    background-color: var(--primary-background);
    color: var(--primary-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link-frame i {
    scale: 1.5;
    margin: 8px;
}
