/* Index.css stylesheet will determine the appearance of the Header, Nav and Footer sections */
:root {
    --primary-background: #003566;
    --secondary-background: #001D3D;
    --primary-color: #FFD60A;
    --secondary-colour: #FFC300;
    --primary-font: #000000;
    --secondary-font: #FFFFFF;
    --base-radius: 8px;

    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--primary-background);
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    flex-direction: column;
}

.title-block {
    color: var(--secondary-font);
    background-color: var(--secondary-background);
    
    height: 90px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-text {
    margin-left: 8px;
    margin-bottom: 8px;
}

.title-text h1 {
    font-size: 32px;
    margin: 0;
    margin-bottom: 12px;
}

.title-text h3 {
    margin: 0;
    margin-left: 4px;
}

nav {
    height: 90px;
    display: flex;
    justify-content: space-around;
    
    background-color: var(--secondary-background);

    border-bottom-left-radius: var(--base-radius);
    border-bottom-right-radius: var(--base-radius);
}

nav a {
    color: var(--secondary-font);

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    text-decoration: none;
}

.link-frame {
    margin-bottom: 4px;
    height: 60px;
    width: 64px;
    border-radius: var(--base-radius);

    background-color: var(--primary-background);
    color: var(--primary-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-frame i {
    scale: 1.6;
    margin: 8px;
}
