:root {
    --primary-color: #240000;
    --secondary-color: #3C3C3C;
    
    background-color: rgb(68,68,68);
    color: white;

    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    background-color: var(--primary-color);
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .logo-name {
        display: flex;
        flex-direction: column;
        align-items: center;

        #logo {
            width: 80px;
        }
    }


    nav {
        font-size: 16px;
        display: flex;
        justify-content: space-around;
        
        
        #navbutton {
            margin: 10px;
            padding: 8px;
            width: 80px;
            border: 1px solid var(--secondary-color);
            border-radius: 4px;
            color: white;

            display: flex;
            justify-content: center;

            &:hover {
                text-decoration: none;
                background-color: #360000;
            }
            &:link {
                text-decoration: none;
            }
            &:visited {
                text-decoration: none;
            }
            &:active {
                text-decoration: none;
            }
        }
    }
}

